.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.h1 {
  padding-left: 30px;
  color: rgb(225, 225, 255);
}

.chart {
  height: 100%;
  display: flex;
  justify-content: center;
}

/* Constraint of size due the loading animation */
.piechart {
  height: 75%;
  width: 70%;
  margin-left: 15%;
  display: flex;
  justify-content: center;
}

.empty {
  background-color: rgb(30, 0, 155);
  color: rgb(225, 225, 255);
  border-radius: 10px;
  padding: 0 30px;
  box-shadow: -5px 5px 5px rgba(25, 0, 100, 0.4);
  height: 100%;
  width: 100%;
}
