.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 0, 115);
  height: 6vh;
  width: 100vw;
  /* padding: 0 10vw; */
  box-shadow: 0 3px 5px rgba(0, 0, 90, 0.75);
}

.subheader {
  display: flex;
  justify-content: space-between;
  /* width: 100vw; */
  align-items: center;
  background: rgb(0, 0, 115);
}

.header a {
  color: rgb(225, 225, 255);
  margin: 10px;
  text-decoration: none;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bolder;
}

.options {
  color: rgb(225, 225, 255);
  text-decoration: none;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bolder;
  cursor: pointer;
}

.options:hover {
  color: rgb(200, 200, 255);
}

.login {
  text-transform: uppercase;
  padding-right: 20px;
}

.header a:hover {
  color: rgb(200, 200, 255);
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.logo a {
  color: gold;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  font-family: serif;
  font-size: 28px;
  padding-left: 20px;
}

.logo a:hover {
  color: goldenrod;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header ul {
    margin: 20px 0;
    flex-direction: column;
    text-align: center;
  }

  .header a {
    margin-right: 0;
  }

  .logo {
    margin: 20px 0;
  }
}
