.table {
  width: 1200px;
  height: 100%;
  margin: 0vh auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50% 35%;
  grid-template-columns: 35vw 35vw;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
}

.history {
  grid-column: 1/3;
  height: 100%;
}
