.table {
  width: 1200px;
  margin: 50px auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;
  justify-content: center;
  align-items: center;
}

.statements {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list {
  color: black;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
}

.history {
  grid-column: 1/3;
}
