.section {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 88vh;
  width: 100%;
  /* background: linear-gradient(rgb(0, 0, 90) 10%, rgba(0, 140, 255, 0.6)); */
}

.hero {
  display: block;
}

.textbox {
  width: 700px;
  color: rgb(215, 215, 255);
  text-transform: capitalize;
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 46px;
  letter-spacing: 2px;
  word-spacing: 4px;
  margin: 25% auto 0 auto;
}

.button {
  background-color: green;
  width: 50%;
  margin: 20px auto;
  border-radius: 5px;
}

.link {
  text-decoration: none;
}

.text {
  color: rgb(225, 225, 225);
  text-transform: capitalize;
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 36px;
  letter-spacing: 2px;
  word-spacing: 4px;
  margin: 0px;
  padding: 4px;
}
