.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 auto;
  max-width: 100vw;
  height: 100vh;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: stretch;
  background: linear-gradient(rgb(0, 0, 90) 10%, rgba(0, 140, 255, 0.5)),
    rgb(0, 0, 90);
}

.general {
  margin: 0;
}
