.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
}

.list {
  background-color: rgb(30, 0, 150);
  border-radius: 15px;
  padding: 0 30px;
  box-shadow: -5px 5px 5px rgba(0, 0, 255, 0.25);
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
}

.h1 {
  padding-left: 30px;
}

/* .list::-webkit-scrollbar {
  width: 50px;
}

.list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */
