.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: rgb(225, 225, 255);
}

.list {
  background-color: rgb(30, 0, 155);
  border-radius: 10px;
  padding: 0 30px;
  box-shadow: -5px 5px 5px rgba(25, 0, 100, 0.4);
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
}

.h1 {
  padding-left: 30px;
}

.list::-webkit-scrollbar {
  width: 20px;
}

/* .list::-webkit-scrollbar-track {
  background: blue;
} */

.list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 75, 225, 0.75);
  border-radius: 20px;
  /* outline: 1px solid blue; */
}
