.sidebar {
  height: 90vh;
  background: linear-gradient(rgb(0, 0, 125) 10%, rgba(0, 125, 255, 0.5)),
    rgb(0, 0, 125);
  box-shadow: 0 2px 5px rgba(0, 0, 75, 0.9);
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

.ul {
  list-style: none; /* Remove default bullets */
  color: white;
  padding-inline-start: 0;
}

.li {
  font-size: x-large;
  margin: 0px 30px;
  padding-top: 30px;
  cursor: pointer;
}

.icons {
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  color: gold;
}

.desc {
  visibility: hidden;
  width: 0;
  display: inline-block;
  vertical-align: middle;
  transition: width 0.3s;
}

.li:hover .desc {
  color: rgb(200, 200, 255);
}

.sidebar:hover .desc {
  margin-left: 10px;
  width: 150px;
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
}

.li:hover .icons {
  color: goldenrod;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}
